<article class="content list wrapper clearfix">
        
           <section class="post clearfix">
           
              <div class="postimage">
              
                 <img class="postimg" src="http://24.media.tumblr.com/2d439c8d18f2490f219f12119152753c/tumblr_motdhwQu171qzg8b7o1_1280.jpg">
              
              </div>
              
              <div class="postinfo">
              
                 <h1><a class="lnk999" href="#">London Nicole: Albany, NY</a></h1>
                 
                 <h2 class="txt222"><a class="lnk222" href="#">Jenna Garrett</a> <a class="ss-icon ss-gizmo follow" href="#">add</a></h2>
                 
                 <div class="postdesc brdrthin txtAAA">
                 <p>Sarcasm, wit and Doctor Who run deep in this relationship.</p>
                 </div>
                 
                 <div class="postdata">
                    <div class="view txt999"><a href="#" class="ss-icon ss-gizmo lnk222">view</a> 206</div>
                    <div class="favs txt999"><a href="#" class="ss-icon ss-gizmo lnk222">favorite</a> 12</div>
                    <div class="tags txt999"><a href="#" id="tag53939926730" class="ss-icon ss-gizmo lnk222">tags</a> 7</div>
                    
                    <section class="tagoverlay" id="tag53939926730">
                    <a href="http://particulr.co/tagged/photography">#photography</a>
                    <a href="http://particulr.co/tagged/fashion">#fashion</a>
                    <a href="http://particulr.co/tagged/street">#street</a>
                    <a href="http://particulr.co/tagged/portrait">#portrait</a>
                    <a href="http://particulr.co/tagged/Tony-Katai">#Tony Katai</a>
                    </section>
                 </div>
              
              </div>
           
           </section>
        
</article>